export PHARMAPACK_PROJECT_DIR=%YOUR DIR PATH%
export PYTHONPATH=$PHARMAPACK_PROJECT_DIR:$PHARMAPACK_PROJECT_DIR/textdetector:$PHARMAPACK_PROJECT_DIR/nnmodels:$PHARMAPACK_PROJECT_DIR/nnmodels/triplet:$PHARMAPACK_PROJECT_DIR/nnmodels/hash:$PHARMAPACK_PROJECT_DIR/nnmodels/simclr:$PHARMAPACK_PROJECT_DIR/libs:$PHARMAPACK_PROJECT_DIR/org:/$PHARMAPACK_PROJECT_DIR/libs/lopq:$PHARMAPACK_PROJECT_DIR/utils:$PYTHONPATH
