export PHARMAPACK_PROJECT_DIR=%YOUR DIR PATH%

export PYTHONPATH=$PYTHONPATH:$PHARMAPACK_PROJECT_DIR
export PYTHONPATH=$PYTHONPATH:$PHARMAPACK_PROJECT_DIR/common
export PYTHONPATH=$PYTHONPATH:$PHARMAPACK_PROJECT_DIR/finegrained

export PYTHONPATH=$PYTHONPATH:$PHARMAPACK_PROJECT_DIR/libs
export PYTHONPATH=$PYTHONPATH:$PHARMAPACK_PROJECT_DIR/libs/lopq

export PYTHONPATH=$PYTHONPATH:$PHARMAPACK_PROJECT_DIR/nnmodels
export PYTHONPATH=$PYTHONPATH:$PHARMAPACK_PROJECT_DIR/nnmodels/hash
export PYTHONPATH=$PYTHONPATH:$PHARMAPACK_PROJECT_DIR/nnmodels/resnet
export PYTHONPATH=$PYTHONPATH:$PHARMAPACK_PROJECT_DIR/nnmodels/simclr
export PYTHONPATH=$PYTHONPATH:$PHARMAPACK_PROJECT_DIR/nnmodels/triplet

export PYTHONPATH=$PYTHONPATH:$PHARMAPACK_PROJECT_DIR/scripts
export PYTHONPATH=$PYTHONPATH:$PHARMAPACK_PROJECT_DIR/segmentation

export PYTHONPATH=$PYTHONPATH:$PHARMAPACK_PROJECT_DIR/utils
export PYTHONPATH=$PYTHONPATH:$PHARMAPACK_PROJECT_DIR/visualization
